*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a {
  align-self: center;
  color: #e0d0ff;
  text-decoration-skip-ink: all;
}

body {
  background-color: #1b2157;
  color: #e0d0ff;
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

.bodyContentWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-inline: auto;
  width: min(70ch, 100% - 4rem);
}

header {
  background-color: #0e1230;
  border: 1px solid #4154d6;
  color: #c6c9da;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0.5rem;
  padding: .2rem;
}

.navContainer {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
}

.navButton {
  background-color: #020a47;
  width: 14rem;
}
img,
svg {
  align-self: center;
  display: block;
  max-width: 100%;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 30vh;
  max-width: 30vw;
}

.hotLink {
  background-color: #0e1230;
  border: 1px solid #4154d6;
  /* color: #d5d5fe; */
  font-size: 1.4rem;
  padding: 1rem;
  text-decoration: none;
}

footer {
  border-top: 1px solid #0e1230;
  display: flex;
  /* margin: 0.5rem; */
  padding: .5rem;
}

.footerWrapper {
  display: flex;
  justify-content: space-evenly;
  min-width: 14rem;
}

.footerNote {
  align-items: center;
  display: flex;
}
