*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a {
  color: #e0d0ff;
  text-decoration-skip-ink: all;
}

body {
  background-color: #1b2157;
  color: #e0d0ff;
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

.bodyContentWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  margin-left: 1rem;
}

main {
  display: flex;
  flex: 1;
  margin-inline: auto;
  width: min(70ch, 100% - 4rem);
}

header {
  background-color: #0e1230;
  border: 1px solid #4154d6;
  color: #c6c9da;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0.5rem;
  padding: 1rem;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 30vh;
  max-width: 30vw;
}

.hotLink {
  background-color: #0e1230;
  border: 1px solid #4154d6;
  font-size: 1.4rem;
  padding: 1rem;
  text-decoration: none;
}

footer {
  display: flex;
  margin: 0.5rem;
}

.footerWrapper {
  display: flex;
  justify-content: space-evenly;
  min-width: 14rem;
}

.footerNote {
  align-items: center;
  display: flex;
}

 /* Purples {
  primary: #5321b0;
  secondary: #ebbff3;
  accent: #4f115a;
  background: #d4d9f7;
  text: #080d2b;
} */

/* Darkmode-Purples {
  primary: #715067;
  secondary: #151e18;
  accent: #362631;
  background: #0d120e;
  text: #e1eae4;
}  */
moreColors {
  color: #1b2157;
  color: #332355;
  color: #2628c5;
  color: #4a36de;
  color: #8459fa;
  color: #a85ff1;
  color: #d7c3ff;

}