h1 {
  margin-left: 1rem;
}

.noteForm {
  display: flex;
  flex-direction: column;
}

Form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
}

input {
  margin: 0.3rem;
  padding: 0.5rem;
}

textarea {
  margin: 0.3rem;
  min-height: 30vh;
  min-width: 40vw;
  padding: 0.5rem;
}
.buttonWrapper {
  display: flex;
}
.resetBtn,
button {
  padding: 0.5rem;
  margin: 0.3rem;
  width: 10rem;
}

.redirectBtn {
  padding: 0.5rem;
}

.textareaWrapper {
  background-color: wheat;
  border: 2px solid salmon;
}
