h1 {
    margin-left: 1rem;
}

.noteForm {
    display: flex;
    flex-direction: column;
}

Form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .5rem;
}

input {
    margin: .3rem;
    padding: .5rem;
}

textarea {
    margin: .3rem;
    min-height: 30vh;
    min-width: 40vw;
    padding: .5rem;
}
.buttonWrapper {
    display: flex;
}
.resetBtn,
button {
    padding: .5rem;
    margin: .3rem;
    width: 10rem;
}

.redirectBtn {
    padding: .5rem;
}